# Tutorial 2

Preprocess the attached dataset `food-consumption.csv`. Deal with missing values, transform categorical to numerical form wherever necessary using `LabelEncoder` and `OneHotEncoder`, split the dataset into training set and testing set.

In [13]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [19]:
df = pd.read_csv('./data/food-consumption.csv')
print(df.shape)
df.head()

(16, 21)

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,81,75,44,71,22,91,85,74,30.0,26
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,67,71,9,46,80,66,24,94,5.0,18
2,France,88,42,63,4.0,76.0,53,11,23,11,...,87,84,40,45,88,94,47,36,57.0,3
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,83,89,61,81,15,31,97,13,53.0,15
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,76,76,42,57,29,84,80,83,20.0,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         16 non-null     object
 1   Real coffee     16 non-null     int64
 2   Instant coffee  16 non-null     int64
 3   Tea             16 non-null     int64
 4   Sweetener       15 non-null     float64
 5   Biscuits        15 non-null     float64
 6   Powder soup     16 non-null     int64
 7   Tin soup        16 non-null     int64
 8   Potatoes        16 non-null     int64
 9   Frozen fish     16 non-null     int64
 10  Frozen veggies  16 non-null     int64
 11  Apples          16 non-null     int64
 12  Oranges         16 non-null     int64
 13  Tinned fruit    16 non-null     int64
 14  Jam             16 non-null     int64
 15  Garlic          16 non-null     int64
 16  Butter          16 non-null     int64
 17  Margarine       16 non-null     int64
 18  Olive oil       16 non-null     int64
 19  Yoghurt         15 non-null     float64
 20  Crisp bread     16 non-null     int64
dtypes: float64(3), int64(17), object(1)
memory usage: 2.8+ KB

### 1. Null Values

In [4]:
df.isnull().sum()

Country           0
Real coffee       0
Instant coffee    0
Tea               0
Sweetener         1
Biscuits          1
Powder soup       0
Tin soup          0
Potatoes          0
Frozen fish       0
Frozen veggies    0
Apples            0
Oranges           0
Tinned fruit      0
Jam               0
Garlic            0
Butter            0
Margarine         0
Olive oil         0
Yoghurt           1
Crisp bread       0
dtype: int64

In [7]:
# to interpolate the missing values 
df = df.interpolate(method ='linear', limit_direction ='forward')
df

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,81,75,44,71,22,91,85,74,30.0,26
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,67,71,9,46,80,66,24,94,5.0,18
2,France,88,42,63,4.0,76.0,53,11,23,11,...,87,84,40,45,88,94,47,36,57.0,3
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,83,89,61,81,15,31,97,13,53.0,15
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,76,76,42,57,29,84,80,83,20.0,5
5,Luxembourg,97,61,86,28.0,79.0,73,12,7,26,...,85,94,83,20,91,94,94,84,31.0,24
6,England,27,86,99,22.0,91.0,55,76,17,20,...,76,68,89,91,11,95,94,57,11.0,28
7,Portugal,72,26,77,2.0,22.0,34,1,5,20,...,22,51,8,16,89,65,78,92,6.0,9
8,Austria,55,31,61,15.0,29.0,33,1,5,15,...,49,42,14,41,51,51,72,28,13.0,11
9,Switzerland,73,72,85,25.0,31.0,69,10,17,19,...,79,70,46,61,64,82,48,61,48.0,30
10,Sweden,97,13,93,31.0,48.5,43,43,39,54,...,56,78,53,75,9,68,32,48,2.0,93
11,Denmark,96,17,92,35.0,66.0,32,17,11,51,...,81,72,50,64,11,92,91,30,11.0,34
12,Norway,92,17,83,13.0,62.0,51,4,17,30,...,61,72,34,51,11,63,94,28,2.0,62
13,Finland,98,12,84,20.0,64.0,27,10,8,18,...,50,57,22,37,15,96,94,17,9.0,64
14,Spain,70,40,40,15.5,62.0,43,2,14,23,...,59,77,30,38,86,44,51,91,16.0,13
15,Ireland,30,52,99,11.0,80.0,75,18,2,5,...,57,52,46,89,5,97,25,31,3.0,9

In [8]:
# checking for remaining null values
df.isnull().sum()

Country           0
Real coffee       0
Instant coffee    0
Tea               0
Sweetener         0
Biscuits          0
Powder soup       0
Tin soup          0
Potatoes          0
Frozen fish       0
Frozen veggies    0
Apples            0
Oranges           0
Tinned fruit      0
Jam               0
Garlic            0
Butter            0
Margarine         0
Olive oil         0
Yoghurt           0
Crisp bread       0
dtype: int64

### 2. Encoding the categorical column - `Country`

#### 1. Using `LabelEncoder`

In [10]:
le = LabelEncoder()
df['Country_Labelled'] = le.fit_transform(df['Country'])
df['Country_Labelled']

0      6
1      9
2      5
3      7
4      1
5     10
6      3
7     12
8      0
9     15
10    14
11     2
12    11
13     4
14    13
15     8
Name: Country_Labelled, dtype: int64

#### 2. Using `One Hot Encoding` through `pandas.get_dummies()`

In [18]:
countries = pd.get_dummies(df['Country'])

df = pd.concat([df, countries], axis=1)

df.head()

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Germany,Holland,Ireland,Italy,Luxembourg,Norway,Portugal,Spain,Sweden,Switzerland
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,1,0,0,0,0,0,0,0,0,0
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,0,0,0,1,0,0,0,0,0,0
2,France,88,42,63,4.0,76.0,53,11,23,11,...,0,0,0,0,0,0,0,0,0,0
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,0,1,0,0,0,0,0,0,0,0
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,0,0,0,0,0,0,0,0,0,0

### 3. Splitting the dataset into training and testing sets

In [17]:
training_set, testing_set = train_test_split(df, test_size=0.2, random_state=42)
print(f"Training Set: {training_set.shape}\nTesting Set: {testing_set.shape}")

Training Set: (12, 22)
Testing Set: (4, 22)